@charset "utf-8";
/* CSS Document */
ul, ol, li, h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	list-style:none;
}
strong{
	font-size:16px;
	color:#F60;
}
h3{
	font-size:16px;
}
.header{
	margin-bottom:8px;
}
.list-info{
	background:url(../img/order_bg.png) left repeat-y;
	border:1px solid #ccc;
	padding:10px 10px 10px 20px;
	position:absolute;
	z-index:100;
	display:none;
	list-style:none;
	font-size:12px;
}
.list-info li span{
	width:65px;
	text-align:right;
}
.list-info h2{
	font-size:14px;
	text-align:center;
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	line-height:20px;
	border-bottom:1px dashed #ccc;
	color:#333;
	display:block;
}
.list-info .close{
	background:url(../img/close.gif) left top no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	right:5px;
	top:5px;
}
.list-info .close:hover{
	background:url(../img/close.gif) left bottom no-repeat;
}
.list-name:hover .list-info{
	display:inline-block;
}
.list-name:hover .list-info{
	*display:inline;
}


.tab{
	height:30px;
	margin:0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  border-bottom:none;
}
.tab ul{
	position:absolute;
	height:31px;
	display:inline-block;
	margin-left:10px;
}
.tab h2{
	display:inline-block;
	color:#555;
	font-size:14px;
	line-height:30px;
	padding:0;
	margin:0;
}
.tab h2{
	*display:inline;
}
.tab h2 small{
	font-size:12px;
}
.tab ul li{
	display:inline-block;
	height:30px;
	line-height:30px;
	color:#333;
	padding:0 10px;
	z-index:1;
	position:relative;
	cursor:pointer;
	vertical-align:top;
}
.tab ul li a{
	color:#333;
}
.tab ul li a:hover{
	background:none;
}
.tab ul li.active{
	background:url(../img/nav-bg.png) right bottom no-repeat;
	z-index:3;
	color:#333;
	padding-right:15px;
	height:34px;
	margin-top:-3px;
	line-height:34px;
}
.tab ul li.active a{
	background:url(../img/nav-bg.png) left top no-repeat;
	display:block;
	height:34px;
	padding-left:25px;
	padding-right:10px;
	font-weight:bold;
	margin:0;
	
	border:0;
}
.tab h3, .tab ul{
	*display:inline;
}
.tab ul li{
	*display:inline;
}
.form-horizontal{
	border:1px solid #ddd;
	padding:10px 20px 50px 20px;
}
.help-list{
	padding:10px;
	margin-top:20px;
	background:#f1f6fb;
	border:2px dotted #d5e6f9;
}
.help-list h3{
	margin-bottom:10px;
	background:url(../img/information.png) left center no-repeat;
	padding-left:18px;
}
.help-list ul{
	list-style:none;
}
.help-list ul li{
	line-height:22px;
}
.account{
	background:#fafcff;
	border:3px double #c6d5ef;
	border-collapse: separate;
  	*border-collapse: collapse;
  	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
	padding:20px;
	margin:0 auto 20px auto;
}
.account h4{
	padding:5px 0;
	font-size:14px;
	color:#333;
	margin-bottom:5px;
}
.radio{
	margin-bottom:10px;
}
.radio input[type="radio"]{
	margin-left:0;
}
.bank-logo-box{
	border:1px solid #ccc;
	width:180px;
	height:36px;
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
.bank-logo-box:hover{
	border:1px solid #F90;
}
.bank-logo-box img{
	display:block;
}
.bank-logo-box span{
	position:absolute;
	color:#666;
	line-height:36px;
	height:36px;
	display:block;
	margin-left:130px;
}
.radio-box{
	display:inline-block;
	width:24px;
	vertical-align:middle;
	line-height:24px;
}
.bank-logo-box, .radio-box{
	*display:inline;
}
.helper{
	width:940px;
	padding:20px;
	margin:20px auto 0 auto;
}
.helper h3{
	margin-bottom:10px;
}
.helper dl{
	line-height:170%;
	font-size:12px;
}
.helper dl dt{
	color:#333;
	font-weight:bold;
}
.locked-box{
	background:#f9fafa;
	border:1px solid #dee9ea;
	border-collapse: separate;
  	*border-collapse: collapse;
  	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
	padding:20px;
	margin:0 auto 10px auto;
	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		  -moz-box-shadow: 2px 2px 3px #f3f5f7;
    -webkit-box-shadow: 2px 2px 3px #f3f5f7;
    box-shadow: 2px 2px 3px #f3f5f7;
	 /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#f3f5f7')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#f3f5f7');
}
.locked-box h3{
	color:#333;
	font-size:14px;
	margin-bottom:10px;
}
.locked-box em{
	color:#03F;
	font-style:normal;
}
.locked-box-1, .locked-box-2{
	width:340px;
	padding-top:100px;
	padding-left:40px;
	color:#333;
	float:left;
}
.locked-box-1{
	background:url(../img/lock-pic-tongyong.png) left top no-repeat #f9fafa
}
.locked-box-2{
	background:url(../img/lock-pic-zhuanyong.png) left top no-repeat #f9fafa
}
.locked-box-1, .locked-box-2{
}
.user-info{
	margin-left:100px;
}
.kb{
	width:155px;
	height:72px;
	background:url(../img/keyboard.png);
	display:inline-block;
	vertical-align:top;
	margin-bottom:10px;
}
.at{
	width:70px;
	height:60px;
	background:url(../img/at_1.gif);
	display:inline-block;
	vertical-align:top;
	margin-top:40px;
}
.kb{
	*display:inline;
}
.order{
	width:auto;
}
.order .list .list-name{
	width:660px;
}
.loading{
	background:url(../img/loading5.gif) no-repeat center 70px #fff;
	padding:30px 10px 10px 10px;
	margin:100px auto;
	width:308px;
	height:80px;
	border-collapse: separate;
  	*border-collapse: collapse;
  	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
	text-align:center;
}
strong{
	color:#F60;
}
.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #1950a2, #0b2f78);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1950a2), to(#0b2f78));
  background-image: -webkit-linear-gradient(top, #1950a2, #0b2f78);
  background-image: -o-linear-gradient(top, #1950a2, #0b2f78);
  background-image: linear-gradient(to bottom, #1950a2, #0b2f78);
  background-repeat: repeat-x;
  border-color: #0c2d5f;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1950a2', endColorstr='#ff0b2f78', GradientType=0);
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a{
	color:#d1e3ff;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #295ca7, #6f95cd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#295ca7), to(#6f95cd));
  background-image: -webkit-linear-gradient(top, #295ca7, #6f95cd);
  background-image: -o-linear-gradient(top, #295ca7, #6f95cd);
  background-image: linear-gradient(to bottom, #295ca7, #6f95cd);
  background-repeat: repeat-x;
  border-color: #0c2d5f;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff295ca7', endColorstr='#ff6f95cd', GradientType=0);
}
.box-ty{
	background:url(../img/box-ty-bg.png) left top no-repeat;
}
.box-zy{
	background:url(../img/box-zy-bg.png) left top no-repeat;
}
.box-ty, .box-zy{
	padding-top:36px;
	height:160px;
	border:1px solid #ddd;
	border-collapse: separate;
  	*border-collapse: collapse;
  	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.apps{
	text-align:center;
	padding-top:64px;
	margin-bottom:10px;
}
.footer{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}

.application {
}
.application .title {
    background: url("../img/pupsnow_007.gif") no-repeat scroll 8px 5px transparent;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    height: 12px;
    line-height: 12px;
    padding-top: 8px;
}
.application .title strong {
    color: #F03B2D;
    font-size: 12px;
    font-weight: normal;
}
.application ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.application ul li {
    float: left;
    height: 100px;
    margin: 0;
	text-align:center;
    padding-top: 5px;
    width: 12.3%;
}
.application ul li:hover {
    background: none repeat scroll 0 0 #3AEB31;
}
.application ul li a span {
    display: block;
    text-indent: -999px;
}
.application ul li a.tit {
    background: url("../img/atit.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}
.application ul li a.tit:hover {
    color: #FFCC00;
}
.icon-64-1, .icon-64-2, .icon-64-3, .icon-64-4, .icon-64-5, .icon-64-6, .icon-64-7, .icon-64-8 {
    background-position: center top;
    display: inline-block;
    height: 64px;
    overflow: hidden;
    width: 64px;
}
.icon-64-1:hover, .icon-64-2:hover, .icon-64-3:hover, .icon-64-4:hover, .icon-64-5:hover, .icon-64-6:hover, .icon-64-7:hover, .icon-64-8:hover {
    background-position: center bottom;
}
.icon-64-1 {
    background-image: url("../img/icons/icon-64-1.png");
}
.icon-64-2 {
    background-image: url("../img/icons/icon-64-2.png");
}
.icon-64-3 {
    background-image: url("../img/icons/icon-64-3.png");
}
.icon-64-4 {
    background-image: url("../img/icons/icon-64-4.png");
}
.icon-64-5 {
    background-image: url("../img/icons/icon-64-5.png");
}
.icon-64-6 {
    background-image: url("../img/icons/icon-64-6.png");
}
.icon-64-7 {
    background-image: url("../img/icons/icon-64-7.png");
}
.icon-64-8 {
    background-image: url("../img/icons/icon-64-8.png");
}
[class^="metro-icon-"],
[class*=" metro-icon-"]{
	background:url(../img/metro-icon.png);
	width:32px;
	height:32px;
	line-height:32px;
	margin:0 auto;
	display:block;
}
.metro-icon-1{
	background-position:0 0;
}
.metro-icon-2{
	background-position:-32px 0;
}
.metro-icon-3{
	background-position:-64px 0;
}
.metro-icon-4{
	background-position:0 -32px;
}
.metro-icon-5{
	background-position:-32px -32px;
}
.metro-icon-6{
	background-position:-64px -32px;
}
.metro-icon-7{
	background-position:0 -64px;
}
.metro-icon-8{
	background-position:-32px -64px;
}
.metro-icon-9{
	background-position:-64px -64px;
}
.metro-icon-10{
	background-position:0 -96px;
}
.metro-icon-11{
	background-position:-32px -96px;
}
.metro-icon-12{
	background-position:-64px -96px;
}
.metro-list{
	margin:0;
	padding:0;
	width:102%;
	margin-bottom:5px;
}
.metro-list a{
	text-align:center;
	background:#5588dc;
	float:left;
	margin-right:2px;
	margin-bottom:2px;
	width:48%;
	height:59px;
	font-size:12px;
	color:#fff;
	padding-top:10px;
	border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.metro-list a.active{
	background:#ed9b19;
}
.metro-list a:hover{
	background:#F90;
	text-decoration:none;
}
.title{
	font-size:14px;
	font-weight:bold;
	color:#2e467e;
	height:24px;
	line-height:24px;
	padding:0 10px;
	border-collapse: separate;
  *border-collapse: collapse;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
	background-color: #cbdcf4;
  background-image: -moz-linear-gradient(top, #dfeaf9, #cbdcf4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfeaf9), to(#cbdcf4));
  background-image: -webkit-linear-gradient(top, #dfeaf9, #cbdcf4);
  background-image: -o-linear-gradient(top, #dfeaf9, #cbdcf4);
  background-image: linear-gradient(to bottom, #dfeaf9, #cbdcf4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfeaf9', endColorstr='#ffcbdcf4', GradientType=0);
}
.news-list{
	list-style:none;
	padding:0;
	margin:0;
}
.news-list li{
	line-height:22px;
}
.news-list li a{
	color:#333;
}
.help{
	background:#f3f5f7;
	padding:10px;
	border-collapse: separate;
  *border-collapse: collapse;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.help h3{
	margin:0;
	font-size:16px;
}
.help .caption{
	font-weight:bold;
}
.help p{
	font-size:12px;
	color:#666;
}
.well-page{
	background-color:#e9f4ff;
	border-color:#a9bfe0
}