body{
	margin: 0;
}
h1 {
	font-family:"Microsoft Yahei";
	color: #333;
}
.btn-signup {
	text-align: center; background-color: #60b044; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); background-image: linear-gradient(#8add6d, #60b044);
}
.btn {
	border: 0px ; border-radius: 5px; font-size: 16px; padding: 10px; margin-top: 10px;
}
.btn-a {
	text-decoration: none; color: #333;
}
input[type="text"], input[type="password"] {
	border: 0px ;width: 92%; border-radius: 5px; font-size: 16px; padding: 10px; margin-top: 10px;
}
.form-signup {
	width: 100%;
	right: 0px;
}
.div-signup {
	width: 250px;
	position: relative;
	padding: 20px;
	background-color: #f7f7f7;
	-moz-opacity:0.5;
	-o-opacity:0.5;
	-webkit-opacity:0.5;
	-ms-opacity:0.5;
}
.div-signup div {
	width: 100%;
	height: 280px;
}
.div-enter {
	
	width: 250px;
}
.topDiv {
	height: 60px;
}
.mainDiv {
	width: 100%;
	padding-top: 65px;
	position: relative;
}
.mainDiv div {
	float: left;
}
	
.bg {
	background-color: #f7f7f7;
}

.login_bg {
	background-color: #ccc;
	height: 450px;
}
dd{
	margin: 0px;
}